
@{
    ViewData["Title"] = "ViewFavorites";
}

    @model List<MovieDetail>
    <h1>View Favorites</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Year Released</th>
            <th>Genre</th>
            <th>Rated</th>
            <th>Actors</th>
        </tr>
        @foreach (MovieDetail film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Year</td>
                <td>@film.Genre</td>
                <td>@film.Rated</td>
                <td>@film.Actors</td>
                <td><a href="../Favorites/DeleteMovie?imdbID=@film.imdbID">Delete</a></td>
            </tr>
        }

    </table>

